<template>
  <div class="hello">
    <el-form ref="form" :model="formData" label-width="80px" :rules="rules">
      <el-form-item label="发送日期" prop="sendDate">
        <el-date-picker
          v-model="formData.sendDate"
          type="datetime">
        >
        </el-date-picker>
      </el-form-item>
      <el-form-item label="发件人" prop="fromEmail">
        <el-input v-model="formData.fromEmail"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="formData.password" show-password clearable show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="收件人" prop="toEmail">
        <el-input v-model="formData.toEmail" ></el-input>
      </el-form-item>
       <el-form-item label="邮件标题" prop="emailSubject">
        <el-input v-model="formData.emailSubject"></el-input>
      </el-form-item>
      <el-form-item label="邮件正文" prop="emailContent">
        <el-input
          type="textarea"
          :rows="6"
          v-model="formData.emailContent">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-upload
          class="upload-demo"
          drag
          :before-upload="beforeUpload"
          :on-success="uploadSuccess"
          action="http://localhost:3000/email/file"
          multiple>
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">将附件拖到此处，或<em>点击上传</em></div>
          <div class="el-upload__tip" slot="tip">可以上传任何文件，且不超过20mb</div>
        </el-upload>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">创建邮件</el-button>
      </el-form-item>
   </el-form>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data(){
    return{
      formData: {
        fromEmail: '',
        toEmail: '',
        emailSubject: '',
        emailContent: '',
        sendDate:'',
        password: ''
      },
      rules: {
        sendDate: [{
          required: true,
          message: '请输入日期',
          trigger: 'blur'
        }],
        fromEmail:[{
          required: true,
          message: '请输入邮件地址',
          trigger: 'blur'
        }, {
          pattern: /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/,
          message: '邮件地址格式错误',
          trigger: 'blur'
        }],
         toEmail:[{
          required: true,
          message: '请输入邮件地址',
          trigger: 'blur'
        }, {
          pattern: /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/,
          message: '邮件地址格式错误',
          trigger: 'blur'
        }],
        password: [{
          required: true,
          message: '请输入密码',
          trigger: 'blur'
        }, {
          pattern: /^[\w]{8,14}$/,
          message: '密码格式错误',
          trigger: 'blur'
        }],
        emailSubject: [{
          required: true,
          message: '请输入邮件标题',
          trigger: 'blur'
        }],
        emailContent: [{
           required: true,
          message: '请输入邮件正文',
          trigger: 'blur'
        }]
      }
    }
  },
  methods: {
    onSubmit(){
      this.$refs['form'].validate(valid => {
        if (!valid) return
        this.$http({method: 'post', url: 'email', data: {...this.formData}}).then(function(res){
          if(res.data.code === 200){
            this.$message({
              message: '邮件创建成功',
              type: 'success'
            });
          } else if(res.data.code === 401){
            this.$message.error('邮件日期无效');
          } else {
            this.$message.error('邮件创建失败');
          }
        }.bind(this))
      })
    },
    beforeUpload(file){
      const isRange = file.size / 1024 / 1024 < 20;
      if (!isRange) {
        this.$message({
          type: 'error',
          message: '文件不能超过20MB',
        })
        return false;
      }
    },
    uploadSuccess(){
      this.$message({
        type: 'success',
        message: '上传成功'
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello{
  width: 700px;
  height: 700px;
  margin: 0 auto;
}
</style>
