<template>
  <div @click="$emit('change', counter++)">
    {{counter}}
  </div>
</template>
<script>
export default {
  model: {
    prop: 'counter',
    event: 'change'
  },
  props: {
    counter: Number
  },
  created() {
    let i = this.counter
    let timer = setInterval(() => {
      this.$emit('change', this.counter++)
    }, 1000)
    this.$once('hook:beforeDestory', () => {
      clearInterval(timer)
    })
  },
}
</script>