<template>
  <div @click="$emit('update:counter', counter1++)">
    {{counter}}
  </div>
</template>
<script>
export default {
  
  props: {
    counter: Number
  },
  data() {
    return {
      counter1: this.counter
    }
  }
  
}
</script>