<template>
  <div id="app">
    <!-- <HelloWorld /> -->
    <!-- TestModal:<TestModal v-model="data"/> -->
    app-data:{{data}}
    <!-- TestSync:<TestSync :counter="data2" @update:counter="data2=$event"/> -->
    TestSync:<TestSync v-bind:counter.sync="data2" />
    app-data2:{{data2}}
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
// import Table from './components/Table.vue'
// //import TreeTable from './components/TreeTable.vue'
import  TestModal  from "./components/TestModal.vue";
import TestSync from "./components/TestSync.vue";
export default {
  name: 'app',
  data(){
    return {
      data: 2,
      data2: 1
    }
  },
  components: {
    TestModal,TestSync
  }
}
</script>

<style>

</style>
